<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szy.db.mapper.VolunteerMapper">

    <insert id="insertVolunteer" parameterType="com.szy.db.model.VolunteerDbo">
       INSERT INTO t_volunteer(
           number,
           firstChoose,
           secondChoose,
           thirdChoose,
           createTime)
       VALUES(
           #{number},
           #{majors},
           from_unixtime(#{createTime}))
       on duplicate key SET
           firstChoose = #{firstChoose},
           secondChoose = #{secondChoose},
           thirdChoose = #{thirdChoose}
           updateTime = from_unixtime(#{updateTime})
   </insert>

    <delete id="deleteVolunteer" parameterType="long">
        UPDATE t_volunteer SET status = -1 WHERE number = #{0}
    </delete>

    <select id="selectVolunteerByNumber" parameterType="long">
        SELECT number,majors,unix_timestamp(createTime) as createTime,unix_timestamp(updateTime) as updateTime,status FROM t_volunteer
    </select>

    <select id="selectVolunteerList">
        SELECT number,majors,unix_timestamp(createTime) as createTime,unix_timestamp(updateTime) as updateTime,status FROM t_volunteer
    </select>

    <update id="updateVolunteerCommitStatus" parameterType="com.szy.db.model.VolunteerDbo">
        UPDATE t_volunteer SET status = #{status}, commitTime = #{commitTime} WHERE number = #{number}
    </update>

</mapper>