<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szy.db.mapper.SystemMapper">

    <!--年级-->
    <insert id="insertGrade" parameterType="com.szy.db.model.GradeDbo" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_grade(name, createTime) VALUES (#{name}, from_unixtime(#{createTime}))
    </insert>

    <select id="selectGrades" resultType="com.szy.db.model.GradeDbo">
        SELECT id,name,unix_timestamp(createTime) FROM t_grade
    </select>

    <delete id="deleteGrade" parameterType="int">
        DELETE FROM t_grade WHERE id = #{id}
    </delete>

    <!--专业-->
    <insert id="insertMajor" parameterType="com.szy.db.model.MajorDbo" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_major(name,description,createTime) VALUES (#{name}, #{description}, from_unixtime(#{createTime}))
    </insert>

    <select id="selectMajors" resultType="com.szy.db.model.MajorDbo">
        SELECT id,name,description,unix_timestamp(createTime) as createTime,status FROM t_major WHERE status > 0
    </select>

    <delete id="deleteMajor" parameterType="int">
        DELETE FROM t_major WHERE id = #{id}
    </delete>

    <!--分流计划-->
    <insert id="insertPlan" parameterType="com.szy.db.model.PlanDbo" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_plan(grade,species,studentAmount,majorAmount,createTime) VALUES (#{grade}, #{species}, #{studentAmount}, #{majorAmount}, from_unixtime(#{createTime}))
    </insert>

    <select id="selectPlans" resultType="com.szy.db.model.PlanDbo">
        SELECT id,grade,species,studentAmount,majorAmount,unix_timestamp(createTime) as createTime,status FROM t_plan WHERE status > 0
    </select>

    <update id="deletePlan" parameterType="int">
        UPDATE t_plan SET status = 0 WHERE id = #{id}
    </update>

    <!--职位-->
    <insert id="insertPosition" parameterType="com.szy.db.model.PositionDbo" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_position(name,createTime,description) VALUES (#{name}, description, from_unixtime(#{createTime}))
    </insert>

    <select id="selectPositions" resultType="com.szy.db.model.PositionDbo">
        SELECT id,name,description,unix_timestamp(createTime) as createTime,status FROM t_position
    </select>

    <delete id="deletePosition" parameterType="int">
        DELETE FROM t_position WHERE id = #{id}
    </delete>

    <!--专业大类-->
    <insert id="insertCategory" parameterType="com.szy.db.model.CategoryDbo" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_category(name,description,createTime) VALUES (#{name}, #{description}, from_unixtime(#{createTime}))
    </insert>

    <select id="selectCategories" resultType="com.szy.db.model.CategoryDbo">
        SELECT id,name,description,unix_timestamp(createTime) as createTime,status FROM t_category
    </select>

    <delete id="deleteCategory" parameterType="int">
        UPDATE t_category SET status = 0 WHERE id = #{id}
    </delete>

</mapper>